<h2> Comments </h2>

<ul>
  <% if @post.comments.size < 2 %>
    <li> No comments </li>
  <% else %>
    <% @post.comments.each do |comment| %>
      <% unless comment.id.nil? %>
        <li><%= comment.dody %>
      <%= link_to 'Edit', edit_post_comment_path(@post, comment) %> | <%= link_to 'Destroy', post_comment_path(@post, comment), confirm: 'Sure?',	method: :delete %></li>
      <% end %>
    <% end %>
  <%end %>
</ul> 
