<h1>Listing comments</h1>

<table>
  <tr>
    <th>Post</th>
    <th>Dody</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.post.title %></td>
    <td><%= comment.dody %></td>
    <td><%= link_to 'Show', post_comment_path(@post, comment) %></td>
    <td><%= link_to 'Edit', edit_post_comment_path(@post, comment) %></td>
    <td><%= link_to 'Destroy', post_comment_path(@post, comment), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Back', post_path(@post) %>
<%= link_to 'New Comment', new_post_comment_path %>
