<p id="notice"><%= notice %></p>

<p>
  <b>Post:</b>
  <%= @comment.post.inspect %>
</p>

<p>
  <b>Dody:</b>
  <%= @comment.dody %>
</p>


<%= link_to 'Edit', edit_post_comment_path %> |
<%= link_to 'Back', post_comments_path %>
